@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}
@plugin "daisyui/theme" {
  name: "winter";
  default: true;
  --color-primary: #1c3a5e;
  --color-secondary: teal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

